doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    link(rel='stylesheet', href='css/style.css')

    body
        .wrapper
            .wrapper-cats
    script(src='js/script.js')
