doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    link(rel='stylesheet', href='loaders.min.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/style.css')

    body
        .wrapper
            #loader.overlay
                .loader.ball-grid-pulse
                    div
                    div
                    div
            .wrapper-cats
    script(src='js/script.js')
