@import "variables";

.wrapper-cats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cat{
    color:$color-white;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    border: 5px solid lightblue;
    margin-bottom: 30px;
    //transition: all 0.2s;
    //&:hover{
    //    transform:  scale(1.1);
    //}
    &__img{
        margin-bottom: -30px;
    }
    .button{
        width: 60%;
        height: 40px;
        margin: 10px auto;
        background-color: $color-white;
        border-radius: 25px;
        outline: none;

    }
}
p{
    text-align: center;
    margin-bottom: -10px;
}
img {
    width: 270px;
    height: 300px;
}